header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.30), rgba(0, 0, 0, 0.30)),url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;;
    height: 85vh;
    h1{
        font-size: 4rem;
        font-weight: 100;
    }
    p{
        font-size: 20px;
        width: 50%;
        text-align: center;
        line-height: 2;
    }
}