// Section Projects
#section_projets{
    padding: 0 2%;
}

.h4_projects{
    font-size: 30px;
}

.p_projects{
    width: 50%;
    text-align: center;
    line-height: 2;
}

.img_projects{
    width: 100%;
    height: 100%;
}
// Section Projects