// Section Card
#section_card{
    background-color: rgb(236, 234, 234);
    height: 40vh;
    line-height: 2;
    i{
        font-size: 3rem;
    }
}
// Section Card

// Section infra & colla
#section_infra{
    margin-top: 8%;
    margin-bottom: 8%;
    line-height: 2;
    hr{
        width: 10%;
        background-color: rgb(255, 123, 0);
    }
}

#section_colla{
    background-color: rgb(233, 233, 233);
    padding-top: 8%;
    padding-bottom: 8%;
    line-height: 2;
    hr{
        width: 10%;
        background-color: rgb(255, 123, 0);
    }
}

.img_colla{
    width: 100%;
    height: 100%;
}

.h2_colla{
    font-size: 4em;
}

.p_colla{
    font-size: 25px;
}
// Section infra & colla

// Section Projects
#section_projets{
    padding: 0 2%;
}

.h4_projects{
    font-size: 30px;
}

.p_projects{
    width: 50%;
    text-align: center;
    line-height: 2;
}

.img_projects{
    width: 100%;
    height: 100%;
}
// Section Projects

// Section Testimonial
#section_testi{
    background-color: lightgray;
}

.card_test{
    box-shadow: 5px 8px 10px black;
    width: 20%;
    height: 40%;
}
// Section Testimonial
